{% extends 'base.html' %}
{% block body %}
<form method="post" enctype="multipart/form-data">
  {% csrf_token %}
    <input class="form-control form-control-lg" type="text" name="name" placeholder="Enter your movie name"><br>
    <input class="form-control form-control-lg" type="text" name="desc" placeholder="Enter the movie description"><br>
    <input class="form-control form-control-lg" type="text" name="year" placeholder="Enter your movie year"><br>
    <input class="form-control form-control-lg" type="file" name="img"><br>
    <input type="submit">
</form>
{% endblock %}
